Flask==1.0.2
Flask-Cors==3.0.9
Flask-PyMongo==2.3.0
gunicorn==19.9.0
html5lib==1.0.1
Jinja2>=2.10
langdetect==1.0.7
pymongo==3.8.0
dnspython==1.16.0
jmespath==0.9.4
MarkupSafe==1.1.0
Werkzeug==0.15.3
